---
// Typed props to avoid implicit 'any'
const { menuItems } = Astro.props as {
  menuItems?: { id: number | string; url: string; label: string }[];
};
const formatUrl = (url = "") =>
  url.replace('http://gatexfin.local/', '');
---
  
<ul class="nav-links">
  {menuItems?.map((item) => (
    <li>
      <a href={`/${formatUrl(item.url)}`}>{item.label}</a>
    </li>
  ))}
</ul>