---
const { menuItems } = Astro.props;
const formatUrl = (url = "") =>
  url.replace('http://gatexfin.local/', '');
---

<ul class="nav-links">
  {menuItems?.map((item) => (
    <li key={item.id}>
      <a href={formatUrl(item.url)}>{item.label}</a>
    </li>
  ))}
</ul>
